<% @presenter.books.each do |book| %>
<div class="card" style="width: 18rem;">
    <%= image_tag(book.sm_image, class: "card-img-top") %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Title: <%= book.title %></li>
      <li class="list-group-item">Author(s): <%= book.authors %></li>
      <li class="list-group-item">Pages: <%= book.page_count %></li>
    </ul>
<div class="card-body">
  <a href="#" class="card-link">More Info</a>
  <%= link_to "Add to Read Books", books_path(title: book.title, image: book.sm_image, authors: book.authors), method: 'post', class: "btn btn-primary" %>
</div>
</div>
<% end %>
