<% @presenter.books.each do |book| %>
<div class="card" style="width: 18rem;display:inline-block;">
    <%= image_tag(book.sm_image, class: "card-img-top") %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Title: <%= book.title %></li>
      <li class="list-group-item">Author(s): <%= book.authors %></li>
    </ul>
  <div class="card-body">
    <% if current_user %>
      <%= link_to "Add to Already Read", books_path(user_book: {status: 'read'},
                                            book: {title: book.title,
                                                   sm_image: book.sm_image,
                                                   authors: book.authors,
                                                   description: book.description,
                                                   page_count: book.page_count}),
                                method: 'post', class: "btn btn-outline-primary btn-sm" %>

      <%= link_to "Add to Currently Reading", books_path(user_book: {status: 'currently reading'},
                                            book: {title: book.title,
                                                   sm_image: book.sm_image,
                                                   authors: book.authors,
                                                   description: book.description,
                                                   page_count: book.page_count}),
                                method: 'post', class: "btn btn-outline-primary btn-sm" %>
      <%= link_to "Add to Want to Read", books_path(user_book: {status: 'want to read'},
                                            book: {title: book.title,
                                                   sm_image: book.sm_image,
                                                   authors: book.authors,
                                                   description: book.description,
                                                   page_count: book.page_count}),
                                method: 'post', class: "btn btn-outline-primary btn-sm" %>
    <% else %>
    <%= link_to "Sign in to add book", "/auth/google", class: "btn btn-outline-primary" %>
      <% end %>
  </div>
</div>
<% end %>
