<div class="card" style="width: 18rem;">
  <%= image_tag(@book.sm_image, class: "card-img-top") %>
  <div class="card-body">
    <h5 class="card-title"><%= @book.title %></h5>
    <p class="card-text"><%= @book.authors %></p>
    <p class="card-text"><%= @description %></p>
    <p class="card-text">Pages: <%= @page_count %></p>
    <%= link_to "Back", :back, class: "btn btn-primary" %>
    <h5>Reccomend Book</h5>
    <h6>Enter phone number:</h6>
    <%= form_with url: recommendations_path do |form| %>
      <%= form.text_field :number %>
      <%= form.hidden_field :book, placeholder: "title", value: @book.title %>
      <%= form.hidden_field :link, placeholder: "url", value: book_path(@book) %>

      <%= form.submit "Send Text" %>
    <% end %>
  </div>
</div>
