<!DOCTYPE html>
<html>
  <head>
    <title>KnowledgeShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
    <%= render partial: "./partials/registered_navbar" %>
  <% else %>
    <%= render partial: "./partials/guest_navbar" %>
  <% end %>
  <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  </div>
    <%= yield %>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'>
    </script>
  </body>
</html>
